body {
    color:black;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1 {
  color:red;
  font-family: "monosace";
  font-size: 40 ;

}
h2{
  color:blue;
  font-family: "serif";
  font-size: 30;
}
h3{
  color:green;
  font-family: "Arial";
  font-size: 25;
}
p{
  color: blue;
  font-family: sans-serif;
  font-size: 23;
}
img{
  width:170px;
  hieght:170px;

}
address{
  display: block;
  text-align: center;
  clear: both;
  font-family: fantasy;
  font-size: 20;
  color: orange;
}
