body {
    color:black;
    padding-left:  15px;
    padding-right: 15px;
    padding-top:  30px;
    padding-bottom: 30px;
}
h1 {
  color:red;
  font-family: "monosace";
  font-size: 40 ;

}
h2{
  color:blue;
  font-family: "serif";
  font-size: 30;
}
h3{
  color:green;
  font-family: "Arial";
  font-size: 25;
}
p{
  color: blue;
  font-family: sans-serif;
  font-size: 23;
}
img{
  width:170px;
  hieght:170px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
address{
  display: block;
  text-align: center;
  clear: both;
  font-family: fantasy;
  font-size: 20;
  color: orange;
}
dt{
  font-size: 20;
  color: blue;
}
dd{
  font-size: 20;
  color: red;
}
